<div class="container-fluid text-center my-5 p-5">
  <h1 class="my-5 p-5">Choose payment method</h1>
</div>

<div>
  <h4>Choose your Payment</h4>
  <div class="d-flex flex-column align-items-center">
    <div
      class="d-flex justify-content-center align-items-center flex-column"
      *ngFor="let creditCard of sortedNumberArray; let i = index"
    >
      <div class="border border-light rounded-3">
        <div class="col-1">
          <label
            style="background-color: rgb(18, 201, 218); color: black"
            class="rounded-3"
          >
            <div class="d-flex justify-content-end me-2">
              {{ creditCard.type }}
            </div>
            <div class="d-flex justify-content-between">
              <span class="mx-3"> Card number </span>
            </div>
            <strong>
              <div class="col-5 mx-5 fs-3">{{ creditCard.number }}</div>
            </strong>
            <span> Cardholder name: </span>
            <div class="d-flex justify-content-between">
              <strong> {{ creditCard.owner }} </strong>
              <span class="me-2">
                Expiration: {{ creditCard.expiration }}
              </span>
            </div>
          </label>
        </div>
      </div>
      <div>
        <input
          type="radio"
          name="CreditCard"
          [checked]="i === 0"
          class="radio-btn"
        />
      </div>
    </div>
  </div>
</div>
