<div class="container-fluid text-center my-5 p-5">
  <h1 class="my-5 p-5">Choose payment method</h1>
  <div class="row">
    <div
      class="col"
      *ngFor="let creditCard of sortedNumberArray; let i = index"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ creditCard.type }}</h5>
          <p class="card-text">{{ creditCard.number }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ creditCard.owner }}</li>
          <li class="list-group-item">{{ creditCard.expiration }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- 
<div>
  <h4>Choose your Payment</h4>
  <div class="" *ngFor="let creditCard of sortedNumberArray; let i = index">
    <div class="border border-light rounded-3">
      <div class="col">
        <label class="rounded-3">
          <div class="">
            {{ creditCard.type }}
          </div>
          <div class="">
            <span class="">Card number</span>
          </div>
          <strong>
            <div class="col">{{ creditCard.number }}</div>
          </strong>
          <span> Cardholder name: </span>
          <div class="d-flex justify-content-between">
            <strong> {{ creditCard.owner }} </strong>
            <span class="me-2"> Expiration: {{ creditCard.expiration }} </span>
          </div>
        </label>
      </div>
    </div>
    <div>
      <input
        type="radio"
        name="CreditCard"
        [checked]="i === 0"
        class="radio-btn"
      />
    </div>
  </div>
</div>-->
