<div class="container-fluid text-center my-5 p-5">
  <h1 class="my-5 p-5">Choose payment method</h1>
  <div class="row">
    <div
      class="col my-3"
      *ngFor="let creditCard of sortedNumberArray; let i = index"
    >
      <input
        type="radio"
        name="creditCard"
        id="chosenCard"
        class="radio-btn"
        [checked]="i == 0"
      />
      <label class="form-check-label card" for="chosenCard">
        <div class="card-body">
          <h5 class="card-title">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-credit-card"
              viewBox="0 0 18 18"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"
              />
              <path
                d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"
              />
            </svg>
            {{ creditCard.type }}
          </h5>
          <p class="card-text">{{ creditCard.number }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ creditCard.owner }}</li>
          <li class="list-group-item">{{ creditCard.expiration }}</li>
        </ul>
      </label>
    </div>
  </div>
</div>
