<div class="container-fluid my-5 p-5">
  <div class="row justify-content-aroud py-5">
    <div class="col m-5">
      <img
        src="assets/images/logo-color.png"
        class="img-fluid rounded-4"
        alt="Our big logo loco"
      />
    </div>
    <div class="col my-5">
      <h1 class="fw-bold">JoeleMattia&Co.</h1>
      <p class="lead fs-4">
        A little team of developers, but with great courage. We started a few
        weeks ago in NTT Data and from the day we entered this reality, we put
        ourselves on the line. Maximum effort, discreet yield! (because we're
        rookies)
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          class="btn btn-primary btn-lg m-3"
          routerLink="/portfolio"
        >
          Portfolio
        </button>
        <button
          type="button"
          class="btn btn-outline-info btn-lg m-3"
          routerLink="/contact-us"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
