<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container text-center">
      <div class="row">
        <h1>Contact Us</h1>
        <p>
          Do you want to know how we or the web works? Do you have any ideas or
          suggestions for us or our site? Have you had a project in mind for a
          while and you would like to see it done so that everyone can see and
          use it? Send us a message by writing it below, together with your
          email address.
        </p>
        <p class="fw-semibold mb-5">We'll answer you very soon!</p>
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="username"
          aria-label="Username"
        />
        <span class="input-group-text">@</span>
        <input
          type="text"
          class="form-control"
          placeholder="server.domain"
          aria-label="Server"
        />
      </div>

      <form class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInputValue"
          placeholder="Request"
        />
        <label for="floatingInputValue">Subject of the text</label>
      </form>

      <div class="input-group mb-3">
        <span class="input-group-text">Message</span>
        <textarea
          class="form-control"
          aria-label="With textarea"
          placeholder="write your message here"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </body>
</html>
