<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container-fluid text-center my-5 pt-5">
      <h1 class="m-5 p-5">Contact Us</h1>
      <div class="container">
        <p class="fs-5">Do you want to know how we or the web works?</p>
        <p class="fs-5">
          Do you have any ideas or suggestions for us or our site?
        </p>
        <p class="fs-5">
          You had a project in mind for a while and you would like to see it
          done so that everyone can see and use it?
        </p>
        <p class="fs-5">
          Send us a message by writing it below, together with your email
          address.
        </p>
        <p class="fw-bold fs-4">We'll answer you very soon!</p>

        <div class="row">
          <div class="col">
            <div class="input-group my-2">
              <input
                type="text"
                class="form-control"
                placeholder="username"
                aria-label="Username"
                id="username"
              />
              <span class="input-group-text">@</span>
              <input
                type="text"
                class="form-control"
                placeholder="server.domain"
                aria-label="Server"
                id="domain"
              />
            </div>
            <form class="form-floating my-2">
              <input
                class="form-control"
                id="floatingInputValue"
                placeholder="Request"
              />
              <label for="floatingInputValue">Subject of the text</label>
            </form>
            <div class="input-group my-2">
              <span class="input-group-text">Message</span>
              <textarea
                class="form-control"
                aria-label="With textarea"
                placeholder="write your message here"
                id="textarea"
              ></textarea>
            </div>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="printmodal()"
            >
              Send it
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">Thanks! Your message:</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
