<div class="container-fluid my-5 pt-5">
  <h1 class="text-center m-5 pt-5">Calculate a preventive</h1>
  <div class="container">
    <div class="row py-5 justify-content-around">
      <div class="col m-5 px-5 text-center">
        <h4>Personal informations</h4>
        <div class="form-floating m-3">
          <input
            type="email"
            class="form-control text-dark"
            id="floatingInput"
            placeholder="name@example.com"
            [(ngModel)]="email"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating m-3">
          <input
            class="form-control text-dark"
            id="floatingPassword"
            placeholder="name"
            [(ngModel)]="fullname"
          />
          <label for="floatingPassword">Full name</label>
        </div>
        <section class="m-3">
          <form class="row justify-content-center">
            <label for="date" class="col-form-label text-light">Date</label>
            <div class="col-8">
              <div class="input-group date">
                <input
                  name="date"
                  type="date"
                  class="form-control text-dark"
                  [(ngModel)]="date"
                />
              </div>
            </div>
          </form>
        </section>
      </div>
      <div class="col mt-5 px-5">
        <div class="form-check form-switch mb-4">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            value="50"
            [(ngModel)]="urlmodel"
            [(ngModel)]="urltocalc"
          />
          {{ urlmodel }}-{{ urltocalc }}
          <label class="form-check-label" for="flexSwitchCheckChecked"
            >When it is on, domain is needed</label
          >
        </div>
        <div class="mb-5" [class.invisible]="!this.urlmodel">
          <label for="basic-url" class="form-label">Choose an URL</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon3">https://</span>
            <input
              type="text"
              class="form-control text-dark"
              id="basic-url"
              aria-describedby="basic-addon3"
              pattern="^(?:[-A-Za-z0-9]+\.)+[A-Za-z]{2,6}$"
              required
              [(ngModel)]="checkthis"
            />
          </div>
          <button
            type="button"
            (click)="CheckUrl()"
            class="btn btn-outline-light"
          >
            Check
          </button>
        </div>
        <h4>Type of product</h4>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            value="50"
            [(ngModel)]="type"
            (click)="hideEshop()"
          />
          <label class="form-check-label" for="flexRadioDefault">
            Static page
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            [(ngModel)]="type"
            value="100"
            (click)="hideEshop()"
          />
          <label class="form-check-label" for="flexRadioDefault">
            CMS (Content Management System)
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            id="eshop"
            value="150"
            [(ngModel)]="type"
            (click)="eshopMethods()"
          />
          <label class="form-check-label" for="flexRadioDefault">
            E-Shop
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            [(ngModel)]="type"
            value="200"
            (click)="hideEshop()"
          />
          <label class="form-check-label" for="flexRadioDefault">
            Gestional
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            [(ngModel)]="type"
            value="250"
            (click)="hideEshop()"
          />
          <label class="form-check-label" for="flexRadioDefault">
            IOT (Internet of Things)
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            [(ngModel)]="type"
            value="300"
            (click)="hideEshop()"
          />
          <label class="form-check-label" for="flexRadioDefault">
            AI (Artificial Intelligence)
          </label>
        </div>
      </div>
      <div class="col m-5 px-5">
        <h4>Manteinance</h4>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId1"
            value="0"
            [(ngModel)]="Manteinance"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault">None</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId2"
            value="50"
            [(ngModel)]="Manteinance"
          />
          <label class="form-check-label" for="flexRadioDefault">
            1 Month
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId3"
            value="100"
            [(ngModel)]="Manteinance"
          />
          <label class="form-check-label" for="flexRadioDefault">
            6 Months
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId4"
            value="150"
            [(ngModel)]="Manteinance"
          />
          <label class="form-check-label" for="flexRadioDefault">
            12 Months
          </label>
        </div>
        <div class="container mt-5" [class.invisible]="!showthis">
          <h5>Payment methods</h5>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="10"
              id="flexCheck"
            />
            <label class="form-check-label" for="flexCheck">Card</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="10"
              id="flexCheck"
            />
            <label class="form-check-label" for="flexCheck"
              >Cash on delivery</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="10"
              id="flexCheck"
            />
            <label class="form-check-label" for="flexCheck">Voucher</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="10"
              id="flexCheck"
            />
            <label class="form-check-label" for="flexCheck">Account</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center m-5">
      <div class="col">
        <button
          type="button"
          (click)="priceCalculate()"
          class="btn btn-outline-light"
        >
          Calculate
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <textarea id="TotText" [class.invisible]="!clicked" readonly>
It will cost € {{ result }} </textarea
        >
      </div>
    </div>
  </div>
</div>
