<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
    datetimepicker/5.3.0/js/bootstrap-datetimepicker.min.js"
    />
  </head>
  <body>
    <h1>Calculate a preventive</h1>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Full name</label>
    </div>
    <div class="form-check form-switch m-3">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexSwitchCheckChecked"
        >When it is on, domain is needed</label
      >
    </div>
    <div class="form-check ms-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Static page
      </label>
    </div>
    <div class="form-check ms-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        CMS (Content Management System)
      </label>
    </div>
    <div class="form-check ms-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2"> E-Shop </label>
    </div>
    <div class="form-check ms-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Gestional
      </label>
    </div>
    <div class="form-check ms-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        IOT (Internet of Things)
      </label>
    </div>
    <div class="form-check ms-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault2">
        AI (Artificial Intelligence)
      </label>
    </div>
    <section class="container p-3">
      <form class="row">
        <label for="date" class="col-1 col-form-label">Date</label>
        <div class="col-5">
          <div class="input-group date">
            <input type="date" class="form-control" id="date" />
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
