<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
    datetimepicker/5.3.0/js/bootstrap-datetimepicker.min.js"
    />
  </head>
  <body>
    <h1 class="text-center m-5 pt-5">Calculate a preventive</h1>
    <div class="row m-5">
      <div class="col mx-3 mt-5 text-center">
        <h4>Personal informations</h4>
        <div class="form-floating m-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating m-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Full name</label>
        </div>
        <section class="m-3">
          <form class="row justify-content-center">
            <label for="date" class="col-form-label">Date</label>
            <div class="col-8">
              <div class="input-group date">
                <input type="date" class="form-control" id="date" />
              </div>
            </div>
          </form>
        </section>
      </div>

      <div class="col m-3 ms-5 ps-5 justify-content-center mt-5">
        <div class="form-check form-switch mb-4">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            value="50"
            checked
          />
          <label class="form-check-label" for="flexSwitchCheckChecked"
            >When it is on, domain is needed</label
          >
        </div>
        <h4>Type of product</h4>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            value="1"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault">
            Static page
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            value="100"
          />
          <label class="form-check-label" for="flexRadioDefault">
            CMS (Content Management System)
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            value="150"
          />
          <label class="form-check-label" for="flexRadioDefault">
            E-Shop
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            value="200"
          />
          <label class="form-check-label" for="flexRadioDefault">
            Gestional
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            value="250"
          />
          <label class="form-check-label" for="flexRadioDefault">
            IOT (Internet of Things)
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioTypeof"
            id="flexRadioTypeId"
            value="300"
          />
          <label class="form-check-label" for="flexRadioDefault">
            AI (Artificial Intelligence)
          </label>
        </div>
      </div>
      <div class="col ms-5 mt-5 ps-5">
        <h4>Manteinance</h4>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId1"
            value="0"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault">None</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId2"
            value="50"
          />
          <label class="form-check-label" for="flexRadioDefault">
            1 Month
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId3"
            value="100"
          />
          <label class="form-check-label" for="flexRadioDefault">
            6 Months
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioMantain"
            id="flexRadioMantainId4"
            value="150"
          />
          <label class="form-check-label" for="flexRadioDefault">
            12 Months
          </label>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <button
            type="button"
            (click)="priceCalculate()"
            class="btn btn-outline-light mb-3"
          >
            Calculate
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <textarea id="TotText" class="invisible" readonly></textarea>
        </div>
      </div>
    </div>
    <!--Calculate price function-->
    <script src="assets/Carousel.js"></script>
  </body>
</html>
